[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = git://github.com/opscode-cookbooks/yum.git
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = git://github.com/opscode-cookbooks/php.git
[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = git://github.com/opscode-cookbooks/apache2.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/ssh_known_hosts"]
	path = cookbooks/ssh_known_hosts
	url = git://github.com/opscode-cookbooks/ssh_known_hosts.git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = git://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/iptables"]
	path = cookbooks/iptables
	url = git://github.com/opscode-cookbooks/iptables.git
[submodule "cookbooks/dmg"]
	path = cookbooks/dmg
	url = git://github.com/opscode-cookbooks/dmg.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = git://github.com/opscode-cookbooks/windows.git
[submodule "cookbooks/chef_handler"]
	path = cookbooks/chef_handler
	url = git://github.com/opscode-cookbooks/chef_handler.git
[submodule "cookbooks/xml"]
	path = cookbooks/xml
	url = git://github.com/opscode-cookbooks/xml.git
[submodule "cookbooks/timezone-ii"]
	path = cookbooks/timezone-ii
	url = https://github.com/L2G/timezone-ii
[submodule "cookbooks/yum-epel"]
	path = cookbooks/yum-epel
	url = git://github.com/opscode-cookbooks/yum-epel.git
[submodule "cookbooks/yum-remi-chef"]
	path = cookbooks/yum-remi-chef
	url = https://github.com/chef-cookbooks/yum-remi-chef.git
